body {
  background-color: white;
}

.left {
  margin-top: 3em ;
}

.loginBUTTON{
  background-color: white !important;
  color: #000f2c !important;
}
.loginBUTT{
  background-color:#000f2c !important;
  color: white !important;
}

.c-header-bar {
  background-color: #000f2c;
  height: 9em;
  border-style: solid;
  border-bottom: thick solid black;
}

.c-header-text-container{
  position: absolute;
  left: 5%;   
}

.nav nav-pills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-pills li {
  float: left;
}

.nav-pills li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-pills li a:hover {
  background-color: white;
  color: #000f2c;
}

.nav-pills.active{
  background-color: #4CAF50;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  /*box-sizing: border-box; */
  font-size: 14px;
}
.form input[type="submit"] {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}


table#first {
    align: center;
    width: 45%;
    margin-left: 10%;
    margin-right: 55%;
    border: 1px solid black;
    border-collapse: separate;
    border-radius: 10px;
}

th{
  color: white;
  background-color: #000f2c;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  vertical-align: bottom;
  border-bottom: 3px solid #ddd;
  padding: 15px;
  text-align: center;
}

td{
  color: black;
  font-family: Maiandra GD Regular;
  font-size: 16px;
  vertical-align: bottom;
  border-bottom: 3px solid #ddd;
  padding: 10px;
  text-align: center;
}

tr:hover{
  background-color: #CCCCFF;

}

.property{
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 0px;
  margin: auto;
}